.app-header {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 25px 15px;
  background-color: #004d40;
}

.app-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.app-title > h1 {
  font-size: 1.25rem;
  color: white;
}
.app-title > small {
  font-size: 0.85rem;
  color: white;
  margin-left: 15px;
}

.fill-space {
  flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
  .app-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app-title > small {
    align-self: flex-start;
    margin-left: 0;
  }
}
